body{
    background-color: rgb(188, 255, 252);
  }
  
  h1
  {
    font-family: 'Gigi', fantasy;
    color:orange;(255, 166, 0)(33, 1, 216);
    background-color: cornsilk;
  }
  
  #show_sketch
  {
    float:right;
  }
  
  #timer{
    float: right;
  }
  
  #sketch_to_be_drawn{
    color: red;
  }
  
  canvas 
    {
      border:2px solid whitesmoke;
      border-radius:20px;
      margin-top:135px;
      box-shadow:5px 5px 5px grey;
      box-shadow: 1px 1px 38px #ffffff;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  @keyframes example {
  
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px rgb(0, 9, 128);}
  
  }
  
  
  p, span
  {
      padding-top:10px;
      font-family: 'Special Elite', fantasy;
      font-size:25px;
  }